$color-yellow: #FFD33F;
$color-blue: #1A64FB;
$color-deep-blue: #002B78;
$color-red: #E32E2B;
$color-deep-red: #780700;
$color-bright: #F3EEE9;
$color-gray-1: #9E9D9C;
$color-gray-2: #E6E6E6;
$color-dark: #454545;
$color-darker: #201C1B;
$color-bg : #575757;

$light: 300;
$regular: 400;
$bold: 500;